name: Build and Deploy Code

# Define the events that trigger this workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
      DATABASE_HOSTNAME: localhost
      DATABASE_PORT: 5432
      DATABASE_NAME: fastapi
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      SECRET_KEY: 09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
# Define the jobs to be executed
jobs:
  job1:

    # Specify the runner environment for the job
    runs-on: ubuntu-latest
    
    # Define the sequence of steps for job1
    steps:
      # Step 1: Checkout the repository code
      - name: Checkout repository
        # Use the standard action to fetch the code
        uses: actions/checkout@v2
      
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: upgrade pip 
        run: python -m pip install --upgrade pip

      - name: install dependencies
        run: pip install -r requirements.txt
      - name: test with pytest
        run: |
           pip install pytest
           pytest -v -s

      